{
  "input": "file:${filename}",
  "regexp": "HTTP\/\\d.?\\d?\\s(?P<code>\\d+)[^\"]+\"[^\"]*\" \"[^\"]*\" (?P<time>\\d{1,}\\.\\d{3})",
  "period": "10s",
  "template_vars": {
    "filename": "foo.txt",
    "hostname": "localhost"
  },
  "filters": [
    {
      "filter": ".+",
      "prefix": "prefix2_",
      "items": [
        {
          "field": "code",
          "metrics": [
            "cps_200",
            "cps_400",
            "cps_500",
            "percentage_200"
          ]
        },
        {
          "field": "time",
          "metrics": [
            "avg",
            "cent_90",
            "min",
            "max"
          ]
        }
      ]
    },
    {
      "filter": "/api/v1/",
      "prefix": "nginx_requests_",
      "prometheus_labels": {
        "code": "${code}",
        "path": "/api/v1/",
        "hostname": "${hostname}",
        "filename": "${filename}"
      },
      "items": [
        {
          "field": "time",
          "metrics": [
            "prometheus_histogram",
            "prometheus_gauge",
            "prometheus_counter",
            "prometheus_summary"
          ]
        }
      ]
    }
  ],
  "output": [
    {
      "type": "console",
      "settings": {
        "template": "${prefix}${field}.${metric}::${hostname}"
      }
    },
    {
      "type": "zabbix",
      "settings": {
        "zabbix_host": "127.0.0.1",
        "zabbix_port": "1234",
        "host": "${host}",
        "template": "${metric}[${hostname},${field}]"
      }
    },
    {
      "type": "prometheus",
      "settings": {
        "addr": ":9000"
      }
    }
  ]
}
